<h1>Editing template</h1>

<% template_form_for(@asset_template) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.render_form_data %>
  </p>
  
  <pre class="form_data">
    <%= f.debug_form_data %>
  </pre>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @asset_template %> |
<%= link_to 'Back', asset_templates_path %>