<h1>Editing template</h1>

<% form_for(@asset_template) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :form_data %><br />
    <%= f.text_area :form_data %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @asset_template %> |
<%= link_to 'Back', asset_templates_path %>