<h1>Listing templates</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @asset_templates.each do |asset_template| %>
  <tr>
    <td><%=h asset_template.name %></td>
    <td><%= link_to 'Show', asset_template %></td>
    <td><%= link_to 'Edit', edit_asset_template_path(asset_template) %></td>
    <td><%= link_to 'Destroy', asset_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New asset template', new_asset_template_path %>